# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build outputs
dist/
dist-ssr/
build_output/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor and OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Rust & Tauri artifacts
src-tauri/target/
src-tauri/gen/
target/
Cargo.lock

# Vite cache
.vite/
